{
  "branches": ["main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          { "type": "chore", "release": "patch" }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm version ${nextRelease.version} --no-git-tag-version && npm run desktop:package"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/*.dmg",
            "label": "Yoda macOS DMG"
          },
          {
            "path": "dist/*.zip",
            "label": "Yoda macOS ZIP"
          }
        ],
        "successComment": false,
        "failComment": false,
        "releasedLabels": false
      }
    ]
  ]
}
